body{background-color: #fbfbfb;}
.icons i{
    font-size: 30px;
    width: 50px;
    margin-top: 20px;
}
a{
    color: black;
}
button a:hover{
    color: white;
    text-decoration: none;
}

.about{
    font-size: 18px;
}
.progress{
    height: 20px;
}
.Eductaion i::before {
content: "\f274";
font-family: FontAwesome;
margin-right: 10px;
}
.Eductaion i{
    font-size: 15px;
}
.Eductaion h4{
    color: grey;
}
h2{
    color:grey ;
}
